.containerQuestion{
    &__blockQuestion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        h1{
            text-align: center;
        }

        &__BlockCheckBox{
            padding-top: 50px;

            display: flex;
            justify-content: space-between;
        }
    }
}