@font-face {
    font-family: "PTSans-Bold";  
    src: url("./font/PTSans-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}
@font-face{
    font-family: "PTSans-Regular";
    src: url("./font/PTSans-Regular.ttf") format("truetype");
    font-style: normal; 
    font-weight: normal; 
}
@font-face{
    font-family: "PTMono-Regular";
    src: url("./font/PTMono-Regular.ttf") format("truetype");
    font-style: normal; 
    font-weight: normal; 
}

p{
    font-family: "PTMono-Regular";    
    font-style: Regular;
    color: white;
}
h1{
    font-family: "PTSans-Regular";    
    font-style: Regular;
    color: white;
}
span{
    font-family: "PTMono-Regular";    
    font-style: Regular;
    color: white;
}